.carousel-container{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 7rem;
margin-bottom: 2rem;


}
.carousel-wrapper {
display: flex;
width: 100%;
position:relative;



}
.carousel-container-wrapper{
overflow: hidden;
width: inherit;
height: 100%;
justify-content: center;
align-items: center;
gap: 2rem;
}
.carousel-content{
display: flex;
transition: all 280ms linear;
-ms-overflow-style: none;
scrollbar-width: none;


}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}
.carousel-content > * {
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carousel-content > div {
    margin: 6px 20px;
}

.left-arrow, .right-arrow {
    position: flex;
    justify-content: space-around;
    z-index: 1;
    
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.27);
    border: 1px solid rgba(0, 0, 0, 0.575);
}
.left-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}
.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    
}


