.popup-container {
    position: absolute;
    width: 100rem;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.434);
    }
    .popup-body {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 20%;
    top: 20%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }